
curriculum {
    background-color: rgb(177, 125, 58);
}

h1 {
    font-family: "Roboto", sans-serif;
    color: rgb(86, 94, 91);
}

p {
    text-align: justify;
}

.container {
    font-family: "Roboto", sans-serif;
    color: rgb(86, 94, 91);
    align-content: center;
}

.skills {
    font-family: "Roboto", sans-serif;
    color: rgb(30, 37, 35);
    text-align: justify;
}

.container-img {
    align-items: left;
}


img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 10%;
  }